body {
	font-family: 'Montserrat';
}

#social-list ul {
	padding: 0;
	margin: 0;
}

#social-list li {
	display: inline;
	font-size: 2em;
}

#social-list li a:hover {
	color: gray;
}

#bio a {
	text-decoration: underline;
}
